<?xml version="1.0"?>
<configdata>
	<production>
    	<authentication>
    	   <wrap>
    	       <class>Internal_Auth_Adapter_WrapAuth</class>
    	       <name>NCSU Wrap</name>
    	       <description>Authentication using your Unity ID and Password</description>    
    	   </wrap>
    	   <local>
               <class>Internal_Auth_Adapter_DbAuth</class>
               <name>ClassMate Account</name>
               <description>Authentication using an account created through ClassMate</description>       	   
    	   </local>
    	</authentication>
    	<authorization>Internal_Authz_Adapter_DbAuthz</authorization>
    	<timezone>America/New_York</timezone>
    	<branding>
    	   <appTitle>ClassMate</appTitle>
    	   <appSubTitle>IT Education System</appSubTitle>
    	   <appDescription>IT Education System</appDescription>
    	   <graphic>
    	       <filename></filename>
    	       <author>Outreach Technology</author>
    	   </graphic>
    	</branding>
    	<profileTypes>
    	   <faculty>Faculty</faculty>
    	   <staff>Staff</staff>
    	   <student>Student</student>
    	   <guest>Guest</guest>
    	</profileTypes>
    	<aclConfigFile>./library/Internal/Acl/aclConfig.xml</aclConfigFile>
        <userConfigFile>./library/Internal/Config/userConfig.xml</userConfigFile>
    	<cronDirectory>./cron</cronDirectory>
    	<display>
    	   <headerRowRepeat>25</headerRowRepeat>
    	   <dateTimeFormat>%m/%d/%Y %I:%M %p</dateTimeFormat>
           <medDateFormat>%b %e, %Y</medDateFormat>
    	   <longDateFormat>%A, %B %e, %Y</longDateFormat>
    	   <dateFormat>%m/%d/%Y</dateFormat>
           <dayFormat>%d</dayFormat>
    	   <timeFormat>%I:%M %p</timeFormat>
    	</display>
    	<search>
    	   <workshopIndexPath>./search_index/workshops</workshopIndexPath>
    	   <tagIndexPath>./search_index/tags</tagIndexPath>
    	</search>
    	<bugContactRole>administrator</bugContactRole>
    	<navigation>
    	   <tab0>
    	       <module>default</module>
    	       <controller></controller>
    	       <action></action>
    	       <display>Home</display>
    	       <link></link>
    	       <submenu></submenu>
    	   </tab0>
           <tab4>
               <module>profile</module>
               <controller>index</controller>
               <action>index</action>               
               <display>My ClassMate</display>   
               <link></link>
               <submenu></submenu>                 
           </tab4>   	   
           <tab1>
               <module>workshop</module>
               <controller>index</controller>
               <action>index</action>
               <display>Our Workshops</display>
               <submenu>
                   <tab2>
                       <module>workshop</module>
                       <controller>proposal</controller>
                       <action></action>
                       <display>Teach a New Workshop!</display>
                       <link></link>
                   </tab2>  
                   <tab3>
                       <module>workshop</module>
                       <controller>request</controller>
                       <action></action>
                       <display>Request a Custom Workshop</display>
                       <link></link>
                   </tab3>
                   <tab4>
                       <module>workshop</module>
                       <controller>schedule</controller>
                       <action></action>
                       <display>Schedule Workshops</display>
                       <link></link>
                   </tab4>                     
               </submenu>
           </tab1>    	   
    	   <tab2>
    	       <module>admin</module>
               <controller>index</controller>
               <action>index</action>    	       
    	       <display>Admin</display>
    	       <link></link>
    	       <submenu>
    	           <tab1>
    	               <module>admin</module>
    	               <controller>user</controller>
    	               <action></action>
    	               <display>Users</display>
    	               <link></link>
    	           </tab1>
    	           <tab2>
    	               <module>admin</module>
    	               <controller>acl</controller>
    	               <action></action>
    	               <display>Access Roles</display>
    	               <link></link>
    	           </tab2>
    	           <tab3>
    	               <module>admin</module>
    	               <controller>emailqueue</controller>
    	               <action></action>
    	               <display>Email Queue</display>
    	               <link></link>
    	           </tab3>
    	           <tab4>
    	               <module>admin</module>
    	               <controller>log</controller>
    	               <action></action>
    	               <display>Logs</display>
    	               <link></link>
    	           </tab4>
    	           <tab6>
    	               <module>admin</module>
    	               <controller>cron</controller>
    	               <action></action>
    	               <display>Cron Status</display>
    	               <link></link>
    	           </tab6>
                   <tab7> 
                       <module>admin</module>
                       <controller>api</controller>
                       <action></action>
                       <display>Api Access</display>
                       <link></link>
                   </tab7>  
                   <tab8>
                       <module>admin</module>
                       <controller>custom</controller>
                       <action></action>
                       <display>Custom Attributes</display>
                       <link></link>
                   </tab8>
                   <tab9>
                       <module>admin</module>
                       <controller>email</controller>
                       <action></action>
                       <display>Email Triggers</display>
                       <link></link>
                   </tab9>
                   <tab10>
                       <module>admin</module>
                       <controller>config</controller>
                       <action></action>
                       <display>App Config</display>
                       <link></link>
                   </tab10>
                   <tab11>
                       <module>admin</module>
                       <controller>location</controller>
                       <action></action>
                       <display>Locations</display>
                       <link></link>
                   </tab11>    
                   <tab12>
                       <module>admin</module>
                       <controller>category</controller>
                       <action></action>
                       <display>Workshop Categories</display>
                       <link></link>
                   </tab12>                                       	           
    	       </submenu>
    	   </tab2>
    	</navigation>
   	</production>
</configdata>