<?xml version="1.0"?>
<configdata>
	<production>
    	<authentication>
    	   <wrap>
    	       <class>Internal_Auth_Adapter_WrapAuth</class>
    	       <name>NCSU Wrap</name>
    	       <description>Authentication using your Unity ID and Password</description>    
    	   </wrap>
    	   <local>
               <class>Internal_Auth_Adapter_DbAuth</class>
               <name>ClassMate Account</name>
               <description>Authentication using an account created through ClassMate</description>       	   
    	   </local>
    	</authentication>
    	<authorization>Internal_Authz_Adapter_DbAuthz</authorization>
    	<timezone>America/New_York</timezone>
    	<branding>
    	   <appTitle>ClassMate</appTitle>
    	   <appSubTitle>IT Education System</appSubTitle>
    	   <appDescription>IT Education System</appDescription>
    	   <graphic>
    	       <filename></filename>
    	       <author>Outreach Technology</author>
    	   </graphic>
    	</branding>
    	<profileTypes>
    	   <faculty>Faculty</faculty>
    	   <staff>Staff</staff>
    	   <student>Student</student>
    	   <guest>Guest</guest>
    	</profileTypes>
    	<aclConfigFile>./library/Internal/Acl/aclConfig.xml</aclConfigFile>
        <userConfigFile>./library/Internal/Config/userConfig.xml</userConfigFile>
    	<cronDirectory>./cron</cronDirectory>
    	<display>
    	   <headerRowRepeat>25</headerRowRepeat>
    	   <dateTimeFormat>%m/%d/%Y %I:%M %p</dateTimeFormat>
    	   <longDateFormat>%A, %B %e, %Y</longDateFormat>
    	   <dateFormat>%m/%d/%Y</dateFormat>
    	   <timeFormat>%I:%M %p</timeFormat>
    	</display>
    	<bugContactRole>administrator</bugContactRole>
    	<navigation>
    	   <tab0>
    	       <module>default</module>
    	       <display>Home</display>
    	       <submenu>
    	           <tab1>
    	               <controller>index</controller>
    	               <display>Home</display>
    	               <select>home</select>
    	               <link></link>
    	           </tab1>
    	           <tab2>
    	               <controller>documentation</controller>
    	               <display>Documentation</display>
    	               <select>documentation</select>
    	               <link></link>
    	           </tab2>
    	           <tab3>
    	               <controller>faq</controller>
    	               <display>F.A.Q.</display>
    	               <select>faq</select>
    	               <link></link>
    	           </tab3>
    	           <tab4>
    	               <controller>bug</controller>
    	               <display>Bug Reports</display>
    	               <select>bug</select>
    	               <link></link>
    	           </tab4>
    	       </submenu>
    	   </tab0>
           <tab1>
               <module>workshop</module>
               <display>Our Workshops</display>
               <submenu>
                   <tab1>
                       <controller>index</controller>
                       <display>Our Workshops</display>
                       <select>home</select>
                       <link></link>
                   </tab1>
                   <tab2>
                       <controller>proposal</controller>
                       <display>Teach a New Workshop!</display>
                       <select></select>
                       <link></link>
                   </tab2>  
                   <tab3>
                       <controller>request</controller>
                       <display>Request a Custom Workshop</display>
                       <select></select>
                       <link></link>
                   </tab3>                               
               </submenu>
           </tab1>    	   
           <tab2>
               <module>calendar</module>
               <display>Calendar</display>
           </tab2>
    	   <tab3>
    	       <module>admin</module>
    	       <display>Admin</display>
    	       <submenu>
    	           <tab1>
    	               <controller>user</controller>
    	               <display>Users</display>
    	               <select>user</select>
    	               <link></link>
    	           </tab1>
    	           <tab2>
    	               <controller>acl</controller>
    	               <display>Access Roles</display>
    	               <select>acl</select>
    	               <link></link>
    	           </tab2>
    	           <tab3>
    	               <controller>emailqueue</controller>
    	               <display>Email Queue</display>
    	               <select>emailqueue</select>
    	               <link></link>
    	           </tab3>
    	           <tab4>
    	               <controller>log</controller>
    	               <display>Logs</display>
    	               <select>log</select>
    	               <link></link>
    	           </tab4>
    	           <tab6>
    	               <controller>cron</controller>
    	               <display>Cron Status</display>
    	               <select>cron</select>
    	               <link></link>
    	           </tab6>
                   <tab7>
                       <controller>api</controller>
                       <display>Api Access</display>
                       <select>api</select>
                       <link></link>
                   </tab7>  
                   <tab8>
                       <controller>custom</controller>
                       <display>Custom Attributes</display>
                       <select>custom</select>
                       <link></link>
                   </tab8>
                   <tab9>
                       <controller>email</controller>
                       <display>Email Triggers</display>
                       <select>email</select>
                       <link></link>
                   </tab9>
                   <tab10>
                       <controller>config</controller>
                       <display>App Config</display>
                       <select></select>
                       <link></link>
                   </tab10>
                   <tab11>
                       <controller>location</controller>
                       <display>Locations</display>
                       <select></select>
                       <link></link>
                   </tab11>                       	           
    	       </submenu>
    	   </tab3>
    	</navigation>
   	</production>
</configdata>