div#detailsLeft {
    width: 500px;   
    margin-top: 18px;
}

div#detailsRight {

    width: 200px;
    float: right;
}

div.rightTitle {
    background: #C85E35 url(../../../images/rt-200.gif) no-repeat;
    text-align: left;
    font-weight: bold;
    line-height: 20px;
    color: #FFF;
    font-size: 100%;
    padding-left: 5px;
}

div.edit {
    background-image: url(../../../images/edit.png);
    background-repeat: no-repeat;  
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
    float: right;  
    margin-top: 2px;
    margin-right: 3px;
}

div.rightContent {
    padding: 10px 2px 10px 2px;
    margin-bottom: 20px;
    background-color: #F4F4F4;
    border: 1px solid #C3593C;
}

div.rightContent table label {
    font-weight: bold;
}

div.event {
    padding: 7px 2px 7px 2px;
    margin-bottom: 10px;
    /*background-image: url(../../../images/date.png);*/
    background-repeat: no-repeat;  
    background-position: 3px 3px;
}

div.eventSpacer {
    height: 1px;
    background: #FFF url(../../../images/dot.gif) repeat-x;	
}

.workshopName {
    display: block;
    font-weight: bold;
    background-repeat: no-repeat;
    padding-left: 20px;
}

div.workshop {
    padding: 2px;
    margin-top: 10px;
}

div.workshop .name {
    font-size: 110%;
    font-weight: bold;
    background-repeat: no-repeat;
    padding-left:22px;
}

div.workshop .name a {
	background-image: none;
}

div.workshop .description {
    
}

div.event .status {
    float: right;
    width: 180px;
    padding: 3px;
    line-height: 22px;
}

div.event .status a {
    display: block;
    padding-left: 15px;
    background-image: url(../../../images/arrow_right.png);
    background-repeat: no-repeat;
    background-position: 5px 3px;    	
}

div.event .attending {
    border: 1px solid #00CC00;	
    background-color: #DFFFDF;
    background-image: url(../../../images/accept.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 22px;
    font-weight: bold;
}

div.event .waitlist {
    border: 1px solid #F67E06;  
    background-color: #FFDFBF;
    background-image: url(../../../images/waitlist_small.png);
    background-repeat: no-repeat;
    background-position: 3px 3px;
    padding-left: 22px;
    font-weight: bold;	
}

div.event .present {    
    padding-left: 22px;
    font-weight: bold;  
    border: 1px solid #00CC00;  
    background: #DFFFDF url(../../../images/tick.png) no-repeat 2px 2px;  
 
}

div.event .absent {
	padding-left: 22px;
    font-weight: bold;  
    border: 1px solid #CC0000;  
    background: #FFDFDF url(../../../images/cross.png) no-repeat 2px 2px;  
}

div.event .seatAvailable {
    border: 1px solid #00CC00;  
    background-color: #DFFFDF;
    background-image: url(../../../images/accept.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 22px;
    font-weight: bold;	
}

div.event .waitlistAvailable {
    border: 1px solid #ccc;  
    background-color: #eee;
    background-image: url(../../../images/time.png);
    background-repeat: no-repeat;
    background-position: 3px 3px;
    padding-left: 22px;
    font-weight: bold;  	
}

div.event .fullClass {
    border: 1px solid #c00;  
    background-color: #FFBFBF;
    background-image: url(../../../images/exclamation.png);
    background-repeat: no-repeat;
    background-position: 3px 3px;
    padding-left: 22px;
    font-weight: bold; 	
}

div.event .utility {
    float: right;
    width: 100px;
    display: none;
}

div.event a {
    background: none;
}

div.reservation {
    background-image: url(../../../images/reservation.png);
    background-repeat: no-repeat;  
    background-position: 0px 0px;   
    padding-left: 21px; 
    display: block;
}

div.evaluation {
    background-image: url(../../../images/evaluation.png);
    background-repeat: no-repeat;  
    background-position: 0px 0px;   
    padding-left: 21px; 
    display: block;
}

div.event .date {
    display: block;
    font-weight: bold;
}

div.event .dateTime {
    padding-left: 20px;
}

div.event .dateTime .location {
    display: block;	
    font-style: italic;
    color: #777;
}

div.event .dateTime .location b { 
    font-style: normal;
    padding-right: 4px;
}

div.inlineEdit {
    background-image: url(../../../images/editFlag.png);
    background-position: top right;
    width: 40px;
    height: 16px;
    cursor: pointer;
    position: relative;
    left: -47px;
    float: left;
    margin-right: -47px;
    z-index: 55;
}

div.inlineEdit:hover {
    background-position: top left;
}

.mootabs_title {
    list-style-image: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 26px;
    width: 500px;
}

.mootabs_title li {
    float: left;
    padding: 2px 8px 2px 8px;
    margin-right: 4px;
    cursor: pointer;
    height: 20px;
    color: #C85E35;
    border: 1px solid #fff;
    background-color: #FFF;
    position: relative;
    z-index: 3;
}

.mootabs_title li.active {
    border: 1px solid #CCC;
    border-bottom: 0px;
    font-weight: bold;
    z-index: 5;
    background: #FFF;
    color: #3F3F3f;
}

.mootabs_panel {
    display: none;
    background-color: #fff;
    position: relative;
    top: -2px;
    overflow: auto;
    padding: 6px;
    width: 474px;
    z-index: 3;
}

.mootabs_panel.active {
    background-color: #fff;
    display: block;
    border: 1px solid #CCC;
}

div.sectionTitle {
    height: 22px;
    margin: 7px 0px 2px 0px;
}

div.active {
    background-color: #C85E35;
}

div.inactive {
	background-color: #6e6e6e; 
}

div.active p.right {
	background-image: url(../../../images/h2-orange-right.png);
}

div.active p.left {
	background-image: url(../../../images/h2-orange-left.png);
}

div.inactive p.right {
	background-image: url(../../../images/h2-right.png);
}

div.inactive p.left {
	background-image: url(../../../images/h2-left.png);
}

div.sectionTitle a {
    color: #FFF;
}

.toggler {
	cursor: pointer;
}

div.sectionTitle p.right {    
    background-repeat: no-repeat;  
    background-position: 0px 0px; 
    float: right;	
    height: 22px;
    width: 11px;
    margin: 0px;
}

div.sectionTitle p.left {    
    background-repeat: no-repeat;  
    background-position: 0px 0px; 	
    float: left;
    height: 22px;
    width: 11px;
    margin: 0px;
}

div.sectionTitle p.content {
	color: #FFF;
	min-width: 50px;
	font-weight: bold;
	line-height: 22px;
	margin: 0px;
}

div#titleContainer {
    padding-bottom: 5px;
    height: 32px;
    margin-bottom: 18px;
    line-height: 32px;
    background: #FFF url(../../../images/dot.gif) repeat-x bottom;
}

div#titleContainer img {
    float: left;
    padding-right: 10px;
}

div#titleContainer .inlineEdit {
    margin-top: 8px;
    
}

div#titleContainer div#wsTitle {
    color: #3F3F3F;
    font-size: 140%;
    font-weight: bold;
}

div.sectionBar {
    background-color: #6e6e6e;
    margin: 20px 0 10px 0;
}

div.sectionBar p.left {    
    background-image: url(../../../images/h2-left.png);
    background-repeat: no-repeat;  
    background-position: 0px 0px;   
    float: left;
    height: 22px;
    width: 11px;
    margin: 0px;
}

div.sectionBar p.content {
    color: #FFF;
    font-weight: bold;
    line-height: 22px;
    margin: 0px;
}

div.section {
	margin-left: 12px;
}