#locationTable {
	text-align : center;
}

#locationTable td.name {
	font-weight : bold;
}

td.enabled {
	color : green;
}

td.disabled {
	color : red;
}

tr.rowHoverEnabled {
	background-color : #DDF7DD;
}

tr.rowHoverDisabled {
	background-color : #FFD6CC;
}