html, body {
    background-image: url(../images/headerBackground.png);
    /*background-image: url(../images/headerBackgroundBlack.png);*/    
    color: #000;
}

#homeLink {
	display: block;
	width: 180px;
	height:  50px;
	float: left;
	background-image: url(../images/headerLogo.png);
    background-repeat: no-repeat;
}

#homeLink span {
	display: none;
}

#custom-doc {
    width: 100%;
    min-width: 974px;
}

#oitLogo {
    width: 89px;
    height: 53px;
    background-image: url(../images/oit_logo_chalk.png);
    background-repeat: no-repeat;
    display: block;
}

#hd {
    padding: 5px 7px 5px 7px;
    height: 50px;
    line-height: 50px;
    background-repeat: repeat-x;
    border-bottom: 1px solid #9F9F9F;
}

#hdInner {
    width: 974px;
    margin: 0 auto;
    height: 100%;
    line-height: 50px;
}

#brandingBar {
    height: 20px;
}

#brandingBarInner {
    width: 974px;
    margin: 0 auto;
    height: 100%;
    line-height: 20px;
}

div#brandingLinks {
    background-image: url(../images/headerBanner.png);
    background-repeat: no-repeat;
    float: left;
    width: 345px;
    height: 18px;
}

a#ncsuBrandingLink {
    background: none;
    width: 135px;
    height: 15px;
    position: relative;
    float: left;
}

a#oitBrandingLink {
    background: none;
    width: 185px;
    height: 15px;
    position: relative;
    left: 20px;
    float: left;   
}

a#ncsuBrandingLink span, a#oitBrandingLink span {
    display: none;
}

#appTitle {
    font-size: 1.3em;
    font-weight: bold;  
}

#pageTitle {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;    
}

.authInfo {
    text-align: right;
    float: right;
    line-height: 20px;
    font-size: 11px;
    font-weight: bold;
    color: #FFF;
}

.authInfo a {
    color: #FEFFAF;   
    text-decoration: underline; 
}

.authInfo select {
    font-weight: normal;
}

#bd {
	padding: 10px 0;
    background-image: url(../images/bodyBg.gif);
}

#bdInner {
    width: 974px;
    margin: 0 auto;
    padding: 0;
}

#oitLogoShelf {
    width: 89px;
    height: 53px;
    background-image: url(../images/oit_logo_shelf.png);
    background-repeat: no-repeat;
    float: left;
    position: relative;
    top: 101px;
    left: 645px;
}

#feature {
    width: 974px;
    height: 200px;
    /*display: none;*/
}

#featureInner {
    margin: 0 auto;
    height: 100%;
    background-image: url(../images/bookshelf.png);
}

#ftInner {
    width: 974px;
    margin: 0 auto;
}

#ft {
    font-size: 11px;
    color: #ddd;
    height: 25px;
    margin-top: 5px;
    padding: 5px;
    clear: both; 
}

#ft a {
    color: #ddd; 
}

#ft .floatLeft {
	text-align: left;
}

#doc4 {
        
}

#content {
    padding: 10px;
    margin: 0;
    min-height: 250px;
}

#contentHeader {
    background-image: url(../images/paperHeader.png);
    background-repeat: no-repeat;
    height: 85px;
}

#contentFooter {
    background-image: url(../images/paperFooter.png);
    background-repeat: no-repeat;
    height: 85px;
}

.paper {
    background-color: #FEFDFA;
}

#overrideTranslate {
    color: #000;
    text-align: right;
    font-size: .9em;
}

#overrideTranslate a {
    color: #BBB;
    text-decoration: none;
}

a {
    color: #AA0000; 
    background: inherit;
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;   
}

a.title {
    color: #FE6700;
    background: #FFF;
}

h1 {
    font: bold 2em "Trebuchet MS", Arial, Helvetica, sans-serif;
    letter-spacing: -1px; 
    padding: 2px 0 0 0px;
    margin: 0;
    color: #464548;
    background: inherit;
}

h2 { 
    margin: 0 0 5px 0; 
    padding: 0; 
    font: bold 1.5em Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    color: #000; 
    background: inherit;
}


div.event {
    width: 165px;
    height: 200px;
    font-size: 12px;
    font-family: Comic Sans MS;
    background-image: url(../images/stickyNote.png);
    background-repeat: no-repeat;
}

div.event div.text {
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: 0 0 0 20px; 
    padding: 40px 0 0 0;
}

div.event div.workshopName {
	margin-bottom: 10px;
}

div.event div.date {
	
}

div.event div.time {
    margin-bottom: 10px;
}

div#searchTerms {
    background-image: url(../images/chalkboardSmall.png);
    font-family: Comic Sans MS;
    padding: 0px 22px;
}

div#searchTermsTop {
    height: 20px;
    background-image: url(../images/chalkboardTopCapSmall.png);
}

div#searchTermsBottom {
    height: 20px;
    background-image: url(../images/chalkboardBottomCapSmall.png);
}

div#searchTerms div#topTerms {
    background-image: url(../images/topSearches.png);
    width: 190px;
    height: 50px;
}

div#searchTerms div#topTerms h2 {
    display: none;
}

div#searchTerms a {
    color: #FEFFAF;
}

div#searchTerms ol {
    color: #EEE;
    margin: 0px 0px 0px 10px;
}

div#searchTerms ol li {
    padding-bottom: 5px;
}

#upcomingColumn {
    padding: 10px 0;
    background-image: url(../images/corkboard.jpg);
    background-repeat: repeat-y;
    width: 410px;
    min-height: 300px;
    margin: 0 auto;
}

#upcomingColumnTopCap {
    background-image: url(../images/corkboardTopCap.jpg);
    background-repeat: no-repeat;
    width: 410px;
    height: 20px;
    margin: 0 auto;
}

#upcomingColumnBottomCap {
    background-image: url(../images/corkboardBottomCap.jpg);
    background-repeat: no-repeat;
    width: 410px;
    height: 20px;
    margin: 0 auto;
}

#paper {
    background-image: url(../images/paper.png);
    background-repeat: no-repeat;
    width: 185px;
    height: 269px;
    float: right;
    position: relative;
    right: 30px;
}

#paper div {
    margin: 40px 7px 5px 20px;
    overflow: hidden;
    height: 220px;
    line-height: 20px;
    font-family: Comic Sans MS;
}

.homepagePaper {
    background-image: url(../images/paperHomepage.png);
    background-repeat: repeat-y;
        
}

#yourColumn {
    background-color: #FFFFFB;
    min-height: 400px;
    margin-left: 40px;
    padding: 20px 20px 10px 5px;
}

div.event {
    margin: 0 0 0 25px;
}

div#homeLogin {
    background-color: #FFFFFB;
    
}

div#homeMessage {
    color: #789BAF;
    margin-bottom: 30px;
}

#homeLogin input {
    font-size: 200%;
    display: block;
    margin: 50px auto;
}

div#content {
    margin-top: 0px;
    padding-top: 0px;
}

div.myEvent {
    border: 2px solid #C2DFEF;
    margin-bottom: 20px;
    background-color: #C3DFEF;
    background-image: url(../images/plannerBg.png);
    line-height: 25px;
}

div.myEvent div.title {
    background-color: #C3DFEF;
    line-height: 26px;
    padding: 0px 4px;
    font-weight: bold;
    color: #3F687F; 
}

div.myEvent div.details {
    margin: 2px 5px 0px 5px;
    min-height: 100px;
}

div.myEvent div.info {
    font-weight: bold;
    margin-right: 10px;
    width: 50px;
    float: left;
    color: #3F687F; 
}

div.myEvent div.data {
    margin-left: 62px;
}

div.myEvent a {
    color: #0F577F;
}

div.myEvent div.tools {
    margin-top: 25px;
    background-color: #FFFFFB;
    margin: 0px 0px 2px 0px;
    padding: 11px 4px;
}

div#viewReservationsFor {
    background-image: url(../images/tornPaperHeader.png);
    width: 600px;
    height: 55px;
    margin: 10px auto;
    background-repeat: no-repeat;
    padding: 25px 0px;
}

.yourColumn {
    background-color: #FFFFFB;
    min-height: 400px;
        
}

div#myEventsRight div.myEvent {
    border: 2px solid #C2DFEF;
    background-color: #C3DFEF;
}

div#myEventsLeft div.myEvent {
    border: 2px solid #C2EFC4;
    background-color: #C2EFC4;
}

div.myEvent {
    margin-bottom: 20px;
    background-image: url(../images/plannerBg.png);
    line-height: 25px;
}

div#myEventsRight div.myEvent div.title {
    background-color: #C3DFEF;
    color: #3F687F; 
}

div#myEventsLeft div.myEvent div.title {
    background-color: #C2EFC4;
    color: #3E6F40; 
}

div#myEventsRight div.myEvent div.info {
    color: #3F687F; 
}

div#myEventsLeft div.myEvent div.info {
    color: #3E6F40; 
}

div#myEventsRight div.myEvent a {
    color: #0F577F;
}

div#myEventsLeft div.myEvent a {
    color: #3E6F40;
}

div.myEvent div.tools {
    margin-top: 25px;
    background-color: #FFFFFB;
    margin: 0px 0px 2px 0px;
    padding: 11px 4px;
}

div#myEventsHeaderRight {
    color: #789BAF;
    border-bottom: 2px dotted #789BAF;
}

div#myEventsHeaderLeft {
    color: #819F82;
    border-bottom: 2px dotted #819F82;
}

div.myEventsHeader {
    font-weight: bold;
    font-family: Times New Roman;
    font-size: 150%;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

div.myEvent div.title {
    line-height: 26px;
    padding: 0px 4px;
    font-weight: bold;
}

div.myEvent div.details {
    margin: 2px 5px 0px 5px;
    min-height: 100px;
}

div.myEvent div.info {
    font-weight: bold;
    margin-right: 10px;
    width: 50px;
    float: left;
}

div.myEvent div.data {
    margin-left: 62px;
}