div#paperHeaderSmall {
	background-image: url(../images/paperHeaderSmall.png);
	background-repeat: no-repeat;
	height: 85px;
}

div#paperFooterSmall {
	background-image: url(../images/paperFooterSmall.png);
	background-repeat: no-repeat;
	height: 85px
}

div#paperContentSmall {
	background-color: #FEFDFA;
	padding: 0px 15px;
}

div#corkHeaderSmall, div#corkContentSmall, div#corkFooterSmall {
    background: none;
}

div#corkHeaderSmall {
    height: 0px;
}