div#paperHeaderSmall {
	background-image: url(../images/paperHeaderSmall.png);
	background-repeat: no-repeat;
	height: 85px;
}

div#paperFooterSmall {
	background-image: url(../images/paperFooterSmall.png);
	background-repeat: no-repeat;
	height: 85px
}

div#paperContentSmall {
	background-color: #FEFDFA;
	padding: 0px 15px;
}

div#corkHeaderSmall {
	margin-top: 30px;
	background-image: url(../images/corkboardTopCapSmall.png);
	background-repeat: no-repeat;
	height: 20px;
}

div#corkFooterSmall {
	background-image: url(../images/corkboardBottomCapSmall.png);
	background-repeat: no-repeat;
	height: 20px;
}

div#corkContentSmall {
	min-height: 150px;
	background-image: url(../images/corkboardSmall.png);
}

div#comingSoonNote {
	background-image: url(../images/comingSoon.png);
	height: 76px;
	width: 183px;
	margin: 0 auto;
}

div#otherTimesNote {
	background-image: url(../images/otherTimes.png);
	height: 76px;
	width: 183px;
	margin: 0 auto;
}

div.event {
    margin: 0 auto;
}