div#detailsLeft {
    width: 500px;   
}

div#detailsRight {
    margin-top: 0px;
    width: 200px;
    float: right;
    
}

div.rightTitle {
    background: #C85E35 url(../../../images/rt-200.gif) no-repeat;
    text-align: left;
    padding-left: 5px;
    font-weight: bold;
    line-height: 20px;
    color: #FFF;
    font-size: 100%;
}

div.rightContent {
    padding: 10px 2px 10px 2px;
    margin-bottom: 20px;
    background-color: #F4F4F4;
    border: 1px solid #C3593C;
}

div.rightContent table label {
    font-weight: bold;
}

div#wsTitle {
    color: #3F3F3F;
    font-size: 140%;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 18px;
}

div.banner {
    padding: 3px 3px 3px 45px;
    font-weight: bold;
    width: 320px;
    border: 1px solid #C0C0c0;
    background-color: #f4f4f4;	
    background-repeat: no-repeat;
    background-position: 4px 4px;
    line-height: 32px;
    font-size: 140%;
    margin: 0 auto;
    margin-bottom: 30px; 
    margin-top: 30px;  
}
div#fullClass {
    background-image: url(../../../images/class_full.png);
}

div#restricted {
	background-image: url(../../../images/emblem-readonly.png);
	background-position: 3px 3px;
}

h3#signup {
    background-image: url(../../../images/success.png);
    background-repeat: no-repeat;
    padding-left: 23px;
    color: #5CA353;
}
div.rightContent div.event {
    padding: 0px 2px 2px 25px;
    margin-bottom: 10px;
    background-image: url(../../../images/calendar.png);
    background-repeat: no-repeat;  
    background-position: 3px 1px;
    border: 0px solid #F4F4F4;
}

div.rightContent div.event .date {
    display: block;
    font-weight: bold;
}

div.rightContent div.event .status {
    display: block;
    color: #C3593C;
}

div.rightContent div.event:hover {
    background-color: #e4e4e4;  
    cursor: pointer;
}

div.event span.restricted {
    display: block;
    padding-left: 23px;
    background-image: url(../../../images/restricted.png);
    background-position: top left;    
    background-repeat: no-repeat;
}

div#workshopTitleContainer {
    margin-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    line-height: 32px;
    background: #FFF url(../../../images/dot.gif) repeat-x bottom;
}

div#workshopTitleContainer img {
    float: left;
    padding-right: 10px;
}

div#workshopTitleContainer .inlineEdit {
    margin-top: 8px;
    
}

div#workshopTitleContainer div#wsTitle {
    color: #3F3F3F;
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 0 42px;
}