div#wsTitle {
    color: #3F3F3F;
    font-size: 140%;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 18px;
}

div.banner {
    padding: 3px 3px 3px 45px;
    font-weight: bold;
    border: 1px solid #C0C0c0;
    background-color: #f4f4f4;	
    background-repeat: no-repeat;
    background-position: 4px 4px;
    line-height: 32px;
    font-size: 140%;
    margin: 0 auto;
    margin-bottom: 30px; 
    margin-top: 30px;  
}

div.event span.restricted {
    display: block;
    padding-left: 23px;
    background-image: url(../../../images/restricted.png);
    background-position: top left;    
    background-repeat: no-repeat;
}

div.sectionBar {
	margin: 20px 0 10px 0;
	line-height: 22px;
	padding-left: 10px;
}

div.eventDetails div.info {
	font-weight: bold;
	margin-right: 10px;
	width: 90px;
	float: left;
	line-height: 25px;
}

div.eventDetails div.data {
	margin-left: 102px;
	line-height: 25px;
}

div#fullClass {
    background-image: url(../../../images/class_full.png);
}

form#cancelReservation {
	margin: 40px 0px;
	font-size: 150%;
}