#workshopCategoryId {
    height: 16px;
}

#workshopCategoryId option {
    background-repeat: no-repeat;
    padding: 5px 3px 5px 22px;
    background-position: 2px 2px; 
    border-bottom: 1px solid #CCC;  
}