div.category {
    background-repeat: no-repeat;
    padding: 2px 2px 20px 40px;
}

div.category div.name {
    font-size: 150%;
    font-weight: bold;
    line-height: 32px;
    background: #FFF url(../../../images/dot.gif) repeat-x bottom;
}

div.category div.description {
	padding: 0px 0 5px 0;
}

div.category div.workshops {

}

.add {
    background-image: url(../../../images/add.png);
    background-repeat: no-repeat;  
    cursor: pointer;  
    line-height: 20px;
    background-position: 0px 3px;
    padding-left: 22px;
    height: 19px;
    margin-bottom: 20px;
}

.add * {
    background-image: none;
}

tr.workshop:hover {
    background-color: #EFEFEF;
}
