div.event {
    padding: 10px 2px 0px 2px;
    margin-bottom: 10px;
    background-repeat: no-repeat;  
    background-position: 3px 3px;
    overflow: auto;
    height: auto;
    width: 600px;
}

div.eventSpacer {
    height: 1px;
    background: #FFF url(../../../images/dot.gif) repeat-x; 
    width: 600px;
}

.workshopName {
    display: block;
    font-weight: bold;
    background-repeat: no-repeat;
    padding-left: 20px;
}

div.workshop {
    padding: 2px;
    margin-top: 10px;
}

div.workshop .name {
    font-size: 110%;
    font-weight: bold;
    background-repeat: no-repeat;
    padding-left:22px;
}

div.workshop .name a {
    background-image: none;
}

div.workshop .description {
    
}

div.event .status {
    float: right;
    width: 180px;
    padding: 3px;
    line-height: 22px;
}

div.event .status a {
    display: block;
    padding-left: 15px;
    background-image: url(../../../images/arrow_right.png);
    background-repeat: no-repeat;
    background-position: 5px 3px;       
}

div.event .attending {
    border: 1px solid #00CC00;  
    background-color: #DFFFDF;
    background-image: url(../../../images/accept.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 22px;
    font-weight: bold;
}

div.event .waitlist {
    border: 1px solid #F67E06;  
    background-color: #FFDFBF;
    background-image: url(../../../images/waitlist_small.png);
    background-repeat: no-repeat;
    background-position: 3px 3px;
    padding-left: 22px;
    font-weight: bold;  
}

div.event .present {    
    padding-left: 22px;
    font-weight: bold;  
    border: 1px solid #00CC00;  
    background: #DFFFDF url(../../../images/tick.png) no-repeat 2px 2px;  
 
}

div.event .absent {
    padding-left: 22px;
    font-weight: bold;  
    border: 1px solid #CC0000;  
    background: #FFDFDF url(../../../images/cross.png) no-repeat 2px 2px;  
}

div.event .seatAvailable {
    border: 1px solid #00CC00;  
    background-color: #DFFFDF;
    background-image: url(../../../images/accept.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 22px;
    font-weight: bold;  
}

div.event .waitlistAvailable {
    border: 1px solid #ccc;  
    background-color: #eee;
    background-image: url(../../../images/time.png);
    background-repeat: no-repeat;
    background-position: 3px 3px;
    padding-left: 22px;
    font-weight: bold;      
}

div.event .fullClass {
    border: 1px solid #c00;  
    background-color: #FFBFBF;
    background-image: url(../../../images/exclamation.png);
    background-repeat: no-repeat;
    background-position: 3px 3px;
    padding-left: 22px;
    font-weight: bold;  
}

div.event .utility {
    float: right;
    width: 100px;
    display: none;
}

div.event a {
    background: none;
}

div.reservation {
    background-image: url(../../../images/reservation.png);
    background-repeat: no-repeat;  
    background-position: 0px 0px;   
    padding-left: 21px; 
    display: block;
}

div.evaluation {
    background-image: url(../../../images/evaluation.png);
    background-repeat: no-repeat;  
    background-position: 0px 0px;   
    padding-left: 21px; 
    display: block;
}

div.event .date {
    display: block;
    font-weight: bold;
}

div.event .dateTime {
	float: none;
    padding-left: 20px;
}

div.event .dateTime .time {
    margin: 0px;
}

div.event .dateTime .location {
	margin: 0px;
    display: block; 
    font-style: italic;
    color: #777;
}

.instructorList {
    margin: 0px;
    display: block;
    color: #000;	
}

.instructorList b {
    color: #777;	
}

div.event .dateTime .location b { 
    font-style: normal;
    padding-right: 4px;
}