div#workshopSearchResults {
    width: 750px;
}

div#workshopSearchWrapper {
    display: none;	
}

div#searchResultsTitle {
    min-height: 30px;
    line-height: 30px;
    background-color: #C85E35;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px 0 0 10px;
    background-image: url(../../../images/rt-750.gif);
    background-location: top;
    background-repeat: no-repeat;
}

div#searchResultsContentWrapper {
    border: 1px solid #C85E35;
    background-color: #F4F4F4;
    padding: 5px;
}

div#workshopAddForm {
    display: none;	
}

div#searchResultsContentWrapper {
    min-height: 300px;  
}

div#workshopSearchResultsLoading {
    text-align: center;
    position: absolute;
    display: none;  
}

.timeSlot {
    width: 50px;
    height: 30px;
    padding: 0px 4px 0 4px;
    text-align: center; 
    font-size: 0.9em;
    whitespace: no-wrap;
}

.timeSlotPad {
	height: 14px;
}

div.event {
    background-color: #DFF1FF;
    margin: 0 0 0 0;
    padding: 0;
    line-height: 11px;
    color: #FFFFFF;
}

div.event div {
    padding: 0px 1px 0 3px;
    overflow: hidden;
    margin: 0;
    background-image: url(../../../images/event.gif);
}

div.event p.eventHeader {
    background-color: #6E6E6E;
    margin: 0px -1px 0 -3px;
    padding-left: 5px;
    line-height: 18px;
    background-image: url(../../../images/eventBg.gif);
    background-repeat: repeat-x;
    background-position: bottom;
}

div.event p.eventHeader a.delete {
	float: right;
	line-height: 18px;
}

div.event p.eventHeader a.delete img {
    vertical-align: top;
    border: 0;
    margin: 0;
    padding: 0;
}

#hoverDivTable {
    width: 100%;    
}
    
#hoverDivTable tbody tr td.top, #hoverDivTable tbody tr td.bottom  {
    font-weight: bold;
    line-height: 10px;  
}

#hoverDivTable tbody tr td.top {
    text-align: left;   
}

#hoverDivTable tbody tr td.bottom {
    text-align: right;   
}


#hoverDivTable tbody tr td.middle {
    line-height: 12px;
    font-size: 90%;
}

.hoverDiv {
    background-image: url(../../../images/hoverDiv.gif);
    border: 0px;
    overflow: hidden;
    filter:alpha(opacity=75);
    -moz-opacity:.75;
    opacity:.75;
    width: 94px;
}

.hoverDivOverlap {
    background-image: url(../../../images/hoverDivOverlap.gif);
    border: 0px;
    overflow: hidden;
    filter:alpha(opacity=75);
    -moz-opacity:.75;
    opacity:.75;
    width: 94px;    
}

#workshopId {
    width: 225px;	
}

#instructorBox {
    height: 50px;
    overflow: scroll;
    border: 1px solid #000000;
    text-align: left;
}

div.emptyTime {
    margin: 0;
}

#weekViewWrapper {
	height: 600px;
    overflow: auto;
    padding-left: 1px;
}

.weekViewTitle {
    font-weight: bold;
    font-size: 125%;
    text-align: center;
}

.weekDays {
    background: #C3593C url(../../../images/cal_head_bg.png) repeat-x bottom;
    color: #FFFFFF;
    border: 1px solid #000;
}

.weekDays th.day {
	width: 94px;
}

.weekDays th.today {
	background: #fff url(../../../images/cal_head_bg_today.png) repeat-x bottom;
    color: #000;	
}

table.weekViewTable tbody tr td.today {
	background-color: #fff;
}

.weekDays th.time {
    width: 61px;	
}

table.weekViewTable {
    background-color: #F4F4F4;
    border-collapse: collapse;
    border: 1px solid #000;
    padding: 3px;
}

table.weekViewDayHeader {
    border-collapse: collapse;
    width: 719px;
    margin-left: 1px;
}

table.weekViewDayHeader thead tr th span {
    font-size: 125%;    
}

table.weekViewTable tbody tr td.eventColumn {
	background-image: url(../../../images/grid_back.png);
    padding: 0; 
    width: 93px;
    border-right: 1px solid #000;
}

table.weekViewTable tbody tr td.time {
    padding: 0; 
    width: 60px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

div.weekViewWrapper {
    margin: 0;
    padding: 0;
}

#instructorList {
    width: 150px;	
}

div.instructorName {
    line-height: 22px;
    height: 22px;
    background-color: #6E6E6E;    
    clear: both;
    margin-bottom: 3px;
}

div.instructorName p.right {
    background-image: url(../../../images/h2-right.png);
    background-repeat: no-repeat;  
    background-position: 0px 0px; 
    float: right;   
    height: 22px;
    width: 11px;
    margin: 0px;
}

div.instructorName p.left {
    background-image: url(../../../images/h2-left.png);
    background-repeat: no-repeat;  
    background-position: 0px 0px;   
    float: left;
    height: 22px;
    width: 11px;
    margin: 0px;
}

div.instructorName a.content {
	color: #FFFFFF;
	font-weight: bold;
	line-height: 22px;
	margin: 0px;
}

div.instructorName p.closeBtn {
    float: right;
    background-image: url(../../../images/x.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    width: 16px;
    cursor: pointer;
}

div.instructorName a.content:hover {
    text-decoration: none;
}

p.eventDetails a {
    color: #FFF;
    text-decoration: underline;	
}

#selectWeekButton {
    background-image: url(../../../images/calendar.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 30px;
}

input.previousWeek {
	background: url(../../../images/prev-week.gif);
}

input.thisWeek {
    background: url(../../../images/this-week.gif);
}

input.nextWeek {
    background: url(../../../images/next-week.gif);
}

input.previousWeek, input.nextWeek, input.thisWeek {
    border: 0;
    cursor: pointer;
    height: 20px;
    margin-right: 10px;
    width: 20px;
    line-height: 20px;
    vertical-align: middle;
    display: inline;
}

input.previousWeek:hover, input.previousWeek.active, 
input.thisWeek:hover, input.thisWeek.active, 
input.nextWeek:hover, input.nextWeek.active {
    background-position: 0 20px;
}

div.DefaultStickyWin div.body{font-family:verdana; font-size:11px; line-height: 13px;}
div.DefaultStickyWin div.top_ul{background:url(../../../images/full.png) top left no-repeat; height:30px; width:15px; float:left}
div.DefaultStickyWin div.top_ur{position:relative; left:0px !important; left:-4px; background:url(../../../images/full.png) top right !important; height:30px; margin:0px 0px 0px 15px !important; margin-right:-4px; padding:0px}
div.DefaultStickyWin h1.caption{background: none; margin:0; padding:0; font-weight:bold; color:#555; font-size:14px; position:relative; top:8px; left:5px; width:300px; float: left}
div.DefaultStickyWin div.middle, div.DefaultStickyWin div.closeBody {background:url(../../../images/body.png) top left repeat-y; margin:0px 20px 0px 0px !important;    margin-bottom: -3px; position: relative;    top: 0px !important; top: -3px;}
div.DefaultStickyWin div.body{background:url(../../../images/body.png) top right repeat-y; padding:8px 30px 8px 0px; margin-left:5px; position:relative; right:-20px}
div.DefaultStickyWin div.bottom{clear:both}
div.DefaultStickyWin div.bottom_ll{background:url(../../../images/full.png) bottom left no-repeat; width:15px; height:15px; float:left}
div.DefaultStickyWin div.bottom_lr{background:url(../../../images/full.png) bottom right; position:relative; left:0px !important; left:-4px; margin:0px 0px 0px 15px !important; margin-right:-4px; height:15px}
div.DefaultStickyWin div.closeButtons{text-align: center; background:url(../../../images/body.png) top right repeat-y; padding: 0px 30px 8px 0px; margin-left:5px; position:relative; right:-20px}
div.DefaultStickyWin a.button:hover{background:url(../../../images/big_button_over.gif) repeat-x}
div.DefaultStickyWin a.button {background:url(../../../images/big_button.gif) repeat-x; margin: 2px 8px 2px 8px; padding: 2px 12px; cursor:pointer; border: 1px solid #999; text-decoration:none; color: #000 !important;}
div.DefaultStickyWin div.closeButton{width:13px; height:13px; background:url(../../../images/closebtn.gif) no-repeat; float:right; margin:10px 15px 0px 0px !important; margin-right: 8px; cursor:pointer}

/*
input.calendar,
select.calendar {
    width: 99px;
}*/

button.calendar {
    background: url(../../../images/calendar/calendar-icon.gif);
    border: 0;
    cursor: pointer;
    /*float: left;*/
    height: 20px;
    margin-right: 10px;
    width: 20px;
    line-height: 20px;
    vertical-align: middle;
    display: inline;
}
button.calendar:hover,
button.calendar.active {
    background-position: 0 20px;
}

div.calendar {
    background: url(../../../images/calendar/calendar.png);
    height: 195px;
    padding: 0 6px;
    text-align: center;
    width: 147px;
}   
div.calendar div {
    background: none !important;
    cursor: move;
    height: 185px;
    overflow: hidden;
    padding-top: 10px;
    position: relative;
    width: 147px;
}   

div.calendar caption {
    color: #333;
    font: normal 12px/16px Arial, Helvetica, sans-serif;
    padding-top: 6px;
    text-align: center;
    width: 100%;
}
div.calendar caption a {
    cursor: pointer;
    display: block;
    height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: -100px;
    top: 17px;
    width: 11px;
}
div.calendar caption a.prev {
    background-image: url(../../../images/calendar/calendar-prev.gif);
    left: 0;
}
div.calendar caption a.next {
    background-image: url(../../../images/calendar/calendar-next.gif);
    right: 0;
}
div.calendar caption a:hover {
    background-position: 0 12px;
}
div.calendar caption span {
    height: 25px;
    position: relative;
    text-align: center;
}
div.calendar caption span.month {
    padding-right: 8px;
}
div.calendar caption span.month:after {
    content: ',';
}

div.calendar table {
    background: #FFF;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    cursor: default;
    margin: 0 auto;
    overflow: hidden;
    width: 147px;
}

div.calendar td,
div.calendar th {
    border: 0;
    color: #0597DB;
    font: normal 12px Arial, Helvetica, sans-serif;
    height: 21px;
    text-align: center;
    width: 21px;
}
div.calendar td {
    background: url(../../../images/calendar/calendar-td.gif);
    color: #FFF;
    font-size: 11px;
}
div.calendar td.invalid {
    color: #999;
}
div.calendar td.valid {
    background: url(../../../images/calendar/calendar-valid.gif);
    color: #0597DB;
    cursor: pointer;
}
div.calendar td.hilite {
    background: url(../../../images/calendar/calendar-hilite.gif);
}
div.calendar td.inactive {
    background: url(../../../images/calendar/calendar-td.gif) 0 100%;
    color: #FFF;
}
div.calendar td.active,
div.calendar td.hover {
    background: url(../../../images/calendar/calendar-valid.gif) 0 100%;
    color: #FFF;
    cursor: pointer;
}

/*
input.dashboard,
select.dashboard {
    width: 149px;
}*/

button.dashboard {
    background: url(../../../images/calendar/dashboard-icon.gif);
    border: 0;
    cursor: pointer;
    /*float: left;*/
    height: 20px;
    margin-right: 10px;
    width: 20px;
    line-height: 20px;
    vertical-align: middle;
    display: inline;
}
button.dashboard:hover,
button.dashboard.active {
    background-position: 0 20px;
}

div.dashboard {
    background: url(../../../images/calendar/dashboard.png);
    height: 175px;
    padding: 0 12px;
    text-align: center;
    width: 147px;
}   
div.dashboard div {
    background: none !important;
    cursor: move;
    height: 165px;
    overflow: hidden;
    padding-top: 10px;
    position: relative;
    width: 147px;
}   

div.dashboard caption {
    color: #CF0;
    font: normal 12px/17px Arial, Helvetica, sans-serif;
    padding-top: 4px;
    text-align: center;
    width: 100%;
}
div.dashboard caption a {
    cursor: pointer;
    display: block;
    height: 11px;
    overflow: hidden;
    position: absolute;
    text-indent: -100px;
    top: 16px;
    width: 11px;
}
div.dashboard caption a.prev {
    background-image: url(../../../images/calendar/dashboard-prev.gif);
    left: 1px;
}
div.dashboard caption a.next {
    background-image: url(../../../images/calendar/dashboard-next.gif);
    right: 1px;
}
div.dashboard caption a:hover {
    background-position: 0 11px;
}
div.dashboard caption span {
    height: 25px;
    position: relative;
    text-align: center;
}
div.dashboard caption span.month {
    padding-right: 8px;
}
div.dashboard caption span.month:after {
    content: ',';
}

div.dashboard table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    cursor: default;
    margin: 0 auto;
    overflow: hidden;
    width: 147px;
    background-color: #000;
}
div.dashboard td,
div.dashboard th {
    border: 0;
    color: #999;
    font: normal 12px Arial, Helvetica, sans-serif;
    height: 19px;
    text-align: center;
    width: 21px;
    background-color: none;
}
div.dashboard td {
    color: #333;
    font-size: 11px;
    padding-right: 5px;
    text-align: right;
    width: 16px;
    background-color: none;
}
div.dashboard td.invalid {
    color: #666;
}
div.dashboard td.valid {
    color: #FFF;
    cursor: pointer;
}
div.dashboard td.active {
    color: #CF0;
    cursor: pointer;
}

div.dashboard td.hover {
    color: #CF0;
    cursor: pointer;
}