#spacer {
	height: 40px;
}

#homepagePaperRight {
	background-position: top left;
}

#homepagePaperLeft {
	background-position: top right;
}

#yourColumnRight {
	margin-left: 38px;
	padding: 20px 20px 10px 5px;
}

#yourColumnLeft {
	margin-right: 38px;
	padding: 20px 5px 10px 20px;
}


div#content {
    margin-top: 0px;
    padding-top: 0px;
}


div.filterForm div.elm {
	margin: 0px 5px;
	font-weight: normal;
}

div.filterForm span, 
div.filterForm div.elm, 
div.filterForm div.label {
	display: inline;
}

div.filterForm label {
	font-weight: bold;
}

div.filterForm input[type=text] {
	width: 200px;	
}

div.filterForm {
	width: 500px;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
}