div#right {
    width: 370px;
    float: right;
    padding-bottom: 20px;
}

div#left {
	width: 370px;
}


div.event {
    padding: 3px 3px 3px 25px;
    background-image: url(../../../images/date.png);
    background-repeat: no-repeat;  
    background-position: 3px 3px;
    border: 1px solid #DFDFDF;
    border-top: 0px;
}

div.event:hover {
    background-color: #F4F4f4;
}

.workshopName {
    display: inline;
}

div.event .date {
    display: block;
    font-weight: bold;
    width: 80px;
    float: left;
}

div.workshop {
    padding: 2px;
    margin-bottom: 10px;
}

div.workshop .name {
	font-size: 110%;
	font-weight: bold;
}

div.workshop .description {
    
}

div.sectionTitle {
    height: 22px;
    background-color: #464548; 
    margin: 0px;
}

div.sectionTitle a {
    color: #FFF;
}

div.sectionTitle p {
	margin: 0px;
	padding: 0px;
}

div.sectionTitle p.right {
    background-image: url(../../../images/darkgrey_header_right.png);
    background-repeat: no-repeat;  
    background-position: 0px 0px; 
    float: right;   
    height: 22px;
    width: 10px;
}

div.sectionTitle p.left {
    background-image: url(../../../images/darkgrey_header_left.png);
    background-repeat: no-repeat;  
    background-position: 0px 0px;   
    float: left;
    height: 22px;
    width: 10px;
}

div.sectionTitle p.content {
    color: #FFF;
    font-weight: bold;
    line-height: 22px;
    width: 100%;
}

.mootabs_title {
    list-style-image: none;
    list-style-type: none;
    padding: 0px;
    height: 45px;
    width: 369px;
    text-align: center;
    position: relative;;
    background-color: #464548;
    padding-left: 1px;
    margin: 0px;
}

.mootabs_title li {
	float:left;
    background-color: #ddd;
    padding: 0px 8px 0px 8px;
    cursor: pointer;
    line-height: 22px;
    background-color: #6e6e6e;
    color: #FFF;
    width: 106px;
    margin: 0px;
    text-align: center;
    margin-right: 1px;
}

.mootabs_title li.active {    
    background-color: #C3593C;
}

.mootabs_panel {
    display: none;
    background-color: #FFF;
    position: relative;
    top: -23px;
    overflow: auto;
    padding: 6px;
    width: 356px;
    border: 1px solid #464548;
}

.mootabs_panel.active {
    background-color: #fff;
    display: block;
}

div.tabDesc {
	padding-bottom: 15px;
	border-bottom: 1px solid #DFDFDF;
}

div.searchTerm {
	border: 1px solid #DFDFDF;
	border-top: 0px;
	padding: 3px;
}

div.searchTerm:hover {
    background-color: #F4F4f4;
}

div.searchTerm div.rank {
	display:inline;
	font-size: 130%;
	color: #C0C0C0;
	padding: 0 15px 0 10px;
	font-weight: bold;
}

div.searchTerm div.term {
	display: inline;
}

div.searchTerm div.count {
	float: right;
}
