div.searchResult {
    padding: 0px 0px 30px 24px;
    background-repeat: no-repeat;
}

div.searchResult .title {
    font-size: 120%;
    font-weight: bold;
}

div.searchResult .description {
    font-size: normal;
}