<?xml version="1.0" encoding="UTF-8"?>
<configData>
  <production>
    <app>
      <version>3.0.9</version>
      <theme>classmate</theme>
      <tablePrefix>oit_</tablePrefix>
      <loginOptions>
      	<generateAccountOnLogin>1</generateAccountOnLogin>
        <passwordReset>
          <key>tl30fkvERtili</key>
          <iv>39v09v90fef094gj</iv>
          <cipher>MCRYPT_RIJNDAEL_128</cipher>
          <numberMinutesKeyIsActive>30</numberMinutesKeyIsActive>
        </passwordReset>
      </loginOptions>
      <accountPlugin>Internal_Account_Plugin_Attributes</accountPlugin>
      <triggerPlugins>
        <Ot_Trigger_Plugin_Email>Send email</Ot_Trigger_Plugin_Email>
        <Ot_Trigger_Plugin_EmailQueue>Send email via Queue</Ot_Trigger_Plugin_EmailQueue>
      </triggerPlugins>
      <customFieldObjects>
        <Ot_Profile>User Profile</Ot_Profile>
        <Evaluations>Evaluations</Evaluations>
      </customFieldObjects>
      <oauth>
        <consumers>
        <!-- use 
            <{consumerId}>
                <name></name>
                <description></description>
                <website></website>
                <consumerKey></consumerKey>
                <consumerSecret></consumerSecret>
                <requestTokenUrl></requestTokenUrl>
                <accessTokenUrl></accessTokenUrl>
                <authorizeUrl></authorizeUrl>
            </{consumerId}> 
        -->
        </consumers>
      </oauth>
      <language>
        <adapter>csv</adapter>
        <directory>./languages</directory>
      </language>
      <search>
          <!--<workshopIndexPath>/afs/unity/web/i/itdapps5/searchIndex/classmate/new-workshops</workshopIndexPath>-->
          <workshopIndexPath>/tmp</workshopIndexPath>
       </search>
       <profileTypes>
          <faculty>Faculty</faculty>
          <staff>Staff</staff>
          <student>Student</student>
          <guest>Guest</guest>
       </profileTypes>       
    </app>
    <user>
      <timezone description="The current timezone for the application." val="America/New_York"/>
      <language description="The default language for the application." val="en"/>
      <appTitle description="The title of the application." val="ClassMate"/>
      <appDescription description="The application description." val="It's that simple..."/>
      <metaKeywords description="The meta keywords you would like to use for the application." val=""/>
      <fromEmailAddress description="The global from email address.  All email from the system will come from this address." val="admin@app.com"/>
      <fromEmailName description="The global from email name.  This is the name that will be shown with the fromEmailAddress." val="Admin"/>
      <fileUploadAllowableExtensions description="The allowable extensions for files.  I would not suggest putting executable files in here..." val="pdf,doc,ppt,html,txt,zip"/>
      <headerRowRepeat description="The number of rows displayed in a table before the header cells are repeated." val="25"/>
      <requiredAccountFields description="When a user logs in, if these fields are not populated, they will be forced to populate the fields before continuing (separate by commas)" val="firstName, lastName, emailAddress"/>
      <defaultRole description="Default role that a user gets if they are not logged in." val="1"/>
      <newAccountRole description="Role which is assigned to users when a new account is created for them" val="15"/>
      <allowRemoteAccess description="If set to 1, allows users to utilize a SOAP interface to access certain functionality of your application." val="1"/>
      <dateTimeFormat description="" val="%m/%d/%Y %I:%M %p"/>
      <medDateFormat description="" val="%b %e, %Y"/>
      <longDateCompactFormat description="" val="%a, %b %e, %Y"/>
      <longDateFormat description="" val="%A, %B %e, %Y"/>
      <dateFormat description="" val="%m/%d/%Y"/>
      <dayFormat description="" val="%d"/>
      <timeFormat description="" val="%I:%M %p"/>
      <showTrackbackOnErrors description="Whether or not to show the trackback of the error" val="1"/>
      <numHoursEvaluationAvailability description="The numsber of hours an evaluation is available after an event has finished." val="1000" />
      <numHoursEventCancel description="The number of hours before an event that a user can cancel their reservation." val="1" />
      <!--<fileUploadPathWorkshop description="Upload directory for workshop handouts." val="/afs/unity/web/c/classmate-deo/files/workshop-new" />-->
      <fileUploadPathWorkshop description="Upload directory for workshop handouts." val="/usr/local/zend/apache2/htdocs/classmate/classmate-workshop-downloads" />
      <fileUploadAllowableExtensions description="The allowable extensions for files.  I would not suggest putting executable files in here..." val="jpg,pdf,doc,ppt,html,txt" />
      <defaultMinWorkshopSize description="Default minimum number of attendees for a workshop" val="5" />
      <defaultWorkshopWaitlistSize description="Default waitlist size for a workshop" val="10" />
      <numHoursLowAttendanceNotification description="The number of hours before a workshop is supposed to start to send a notification if the class size is less than the minimum requirement." val="24" />
      <numHoursFirstReminder description="The number of hours before a workshop is supposed to start to send a first notification of class attendance." val="24" />
      <numHoursFinalReminder description="The number of hours before a workshop is supposed to start to send a final notification of class attendance." val="12" />
      <numHoursEvaluationReminder description="The number of hours after a workshop is supposed to finish to send a reminder to users to fill out the class evaluation.  This only applies to users who have not filled out the evaluation already, but were marked as attended." val="24" />
    </user>
    <triggers>
      <trigger name="Login_Index_Forgot" description="When a user has forgotten their password, they ask for a reset email to be sent to their registered email address.">
        <var name="firstName" description="First name of the user"/>
        <var name="lastName" description="Last name of the user."/>
        <var name="emailAddress" description="Email address of the user."/>
        <var name="username" description="Username of user."/>
        <var name="loginMethod" description="Name of login method which they use to log into the system with."/>
        <var name="resetUrl" description="URL the user will need to go to to reset their password."/>
      </trigger>
      <trigger name="Login_Index_Signup" description="When a user signs up for a new account.">
        <var name="firstName" description="First name of the user."/>
        <var name="lastName" description="Last name of the user."/>
        <var name="emailAddress" description="Email address of the user."/>
         <var name="username" description="Username of user."/>
        <var name="loginMethod" description="Name of login method which they use to log into the system with."/>
        <var name="password" description="The password they give to their account."/>
      </trigger>
      <trigger name="Admin_Account_Create_Password" description="When an administrator creates an account for a user where a password is dynamically generated for the user.">
        <var name="firstName" description="First name of the user."/>
        <var name="lastName" description="Last name of the user."/>
        <var name="emailAddress" description="Email address of the user."/>
        <var name="username" description="Username of user."/>
        <var name="loginMethod" description="Name of login method which they use to log into the system with."/>
        <var name="password" description="The password they give to their account."/>
        <var name="role" description="Assigned role given to the user."/>
      </trigger>
      <trigger name="Admin_Account_Create_NoPassword" description="When an administrator creates an account for a user when no password is created for the user.">
        <var name="firstName" description="First name of the user."/>
        <var name="lastName" description="Last name of the user."/>
        <var name="emailAddress" description="Email address of the user."/>
        <var name="username" description="Username of user."/>
        <var name="loginMethod" description="Name of login method which they use to log into the system with."/>
        <var name="role" description="Assigned role given to the user."/>
      </trigger>
      <trigger name="Instructor_Promote_User_Waitlist_To_Attending" description="When an instructor promotes a waitlisted user to the attendee roster.">          
        <var name="studentFirstName" description="First name of the user being promoted"/>
        <var name="studentLastName" description="Last name of the user being promoted"/>
        <var name="studentEmail" description="Email address of the user being promoted"/>
        <var name="studentUsername" description="Username of user being promoted"/>
        <var name="studentAccountId" description="The account ID of the user being promoted"/>
        <var name="instructorNames" description="A comma separated list of the names of the instructors of the event"/>
        <var name="instructorEmails" description="A comma separated list of the instructor email addresses"/>
        <var name="locationName" description="The name of the location of the event"/>
        <var name="locationAddress" description="The address of the location of the event"/>
        <var name="workshopMinimumEnrollment" description="The minimum number of people that have to sign up for the event"/>
        <var name="workshopName" description="The title of the workshop"/>
        <var name="workshopDate" description="The date of the event"/>
        <var name="workshopStartTime" description="The start time of the event"/>
        <var name="workshopEndTime" description="The end time of the event"/>
      </trigger>
      <trigger name="Instructor_Registered_User" description="When an instructor adds a user to the attendee roster.">          
        <var name="studentFirstName" description="First name of the user"/>
        <var name="studentLastName" description="Last name of the user"/>
        <var name="studentEmail" description="Email address of the user"/>
        <var name="studentUsername" description="Username of user"/>
        <var name="studentAccountId" description="The account ID of the user"/>
        <var name="instructorNames" description="A comma separated list of the names of the instructors of the event"/>
        <var name="instructorEmails" description="A comma separated list of the instructor email addresses"/>
        <var name="locationName" description="The name of the location of the event"/>
        <var name="locationAddress" description="The address of the location of the event"/>
        <var name="workshopMinimumEnrollment" description="The minimum number of people that have to sign up for the event"/>
        <var name="workshopName" description="The title of the workshop"/>
        <var name="workshopDate" description="The date of the event"/>
        <var name="workshopStartTime" description="The start time of the event"/>
        <var name="workshopEndTime" description="The end time of the event"/>
      </trigger>
      <trigger name="Instructor_Registered_User_For_Waitlist" description="When an instructor adds a user to the waitlist.">          
        <var name="studentFirstName" description="First name of the user"/>
        <var name="studentLastName" description="Last name of the user"/>
        <var name="studentEmail" description="Email address of the user"/>
        <var name="studentUsername" description="Username of user"/>
        <var name="studentAccountId" description="The account ID of the user"/>
        <var name="instructorNames" description="A comma separated list of the names of the instructors of the event"/>
        <var name="instructorEmails" description="A comma separated list of the instructor email addresses"/>
        <var name="locationName" description="The name of the location of the event"/>
        <var name="locationAddress" description="The address of the location of the event"/>
        <var name="workshopMinimumEnrollment" description="The minimum number of people that have to sign up for the event"/>
        <var name="workshopName" description="The title of the workshop"/>
        <var name="workshopDate" description="The date of the event"/>
        <var name="workshopStartTime" description="The start time of the event"/>
        <var name="workshopEndTime" description="The end time of the event"/>
      </trigger>
      <trigger name="Instructor_Cancels_Users_Reservation" description="When an instructor cancels a user's reservation.">          
        <var name="studentFirstName" description="First name of the user"/>
        <var name="studentLastName" description="Last name of the user"/>
        <var name="studentEmail" description="Email address of the user"/>
        <var name="studentUsername" description="Username of user"/>
        <var name="studentAccountId" description="The account ID of the user"/>
        <var name="instructorNames" description="A comma separated list of the names of the instructors of the event"/>
        <var name="instructorEmails" description="A comma separated list of the instructor email addresses"/>
        <var name="locationName" description="The name of the location of the event"/>
        <var name="locationAddress" description="The address of the location of the event"/>
        <var name="workshopMinimumEnrollment" description="The minimum number of people that have to sign up for the event"/>
        <var name="workshopName" description="The title of the workshop"/>
        <var name="workshopDate" description="The date of the event"/>
        <var name="workshopStartTime" description="The start time of the event"/>
        <var name="workshopEndTime" description="The end time of the event"/>
      </trigger>
      <trigger name="User_Automatically_Moved_From_Waitlist_To_Attending" description="When a user is automatically moved from the waitlist to the attendee roster.">          
        <var name="studentFirstName" description="First name of the user"/>
        <var name="studentLastName" description="Last name of the user"/>
        <var name="studentEmail" description="Email address of the user"/>
        <var name="studentUsername" description="Username of user"/>
        <var name="studentAccountId" description="The account ID of the user"/>
        <var name="instructorNames" description="A comma separated list of the names of the instructors of the event"/>
        <var name="instructorEmails" description="A comma separated list of the instructor email addresses"/>
        <var name="locationName" description="The name of the location of the event"/>
        <var name="locationAddress" description="The address of the location of the event"/>
        <var name="workshopMinimumEnrollment" description="The minimum number of people that have to sign up for the event"/>
        <var name="workshopName" description="The title of the workshop"/>
        <var name="workshopDate" description="The date of the event"/>
        <var name="workshopStartTime" description="The start time of the event"/>
        <var name="workshopEndTime" description="The end time of the event"/>
      </trigger>
		<trigger name="Event_Attendee_Final_Reminder" description="Triggered (via cron) to send final reminder to attendees on the class role">
		    <var name="instructorEmails" description="Comma separated list of instructor email addresses"/>
		    <var name="instructorNames" description="Comma separated list of instructor names"/>
		    <var name="locationAddress" description="Address of the location where the workshop will be taught"/>
		    <var name="locationName" description="Name of the location where the workshop will be taught."/>
		    <var name="studentEmail" description="Email address of the user who signed up for the workshop."/>
		    <var name="studentName" description="Name of the user who signed up for the workshop."/>
		    <var name="userId" description="user ID (userID@loginType) of the user who signed up for the workshop."/>
		    <var name="workshopCurrentEnrollment" description="Current enrollment for the workshop"/>
		    <var name="workshopDate" description="Date (mm/dd/yyyy) when the workshop occurs."/>
		    <var name="workshopEndTime" description="End time (hh:mm am/pm) of the workshop."/>
		    <var name="workshopMinimumEnrollment" description="Minimum enrollment for the workshop"/>
		    <var name="workshopName" description="Name of the workshop the user signed up for"/>
		    <var name="workshopStartTime" description="Start time (hh:mm am/pm) the workshop occurs."/>
		</trigger>
		<trigger name="Event_Attendee_First_Reminder" description="Triggered (via cron) to send first reminder to attendees on the class role">
		    <var name="instructorEmails" description="Comma separated list of instructor email addresses"/>
		    <var name="instructorNames" description="Comma separated list of instructor names"/>
		    <var name="locationAddress" description="Address of the location where the workshop will be taught"/>
		    <var name="locationName" description="Name of the location where the workshop will be taught."/>
		    <var name="studentEmail" description="Email address of the user who signed up for the workshop."/>
		    <var name="studentName" description="Name of the user who signed up for the workshop."/>
		    <var name="userId" description="user ID (userID@loginType) of the user who signed up for the workshop."/>
		    <var name="workshopCurrentEnrollment" description="Current enrollment for the workshop"/>
		    <var name="workshopDate" description="Date (mm/dd/yyyy) when the workshop occurs."/>
		    <var name="workshopEndTime" description="End time (hh:mm am/pm) of the workshop."/>
		    <var name="workshopMinimumEnrollment" description="Minimum enrollment for the workshop"/>
		    <var name="workshopName" description="Name of the workshop the user signed up for"/>
		    <var name="workshopStartTime" description="Start time (hh:mm am/pm) the workshop occurs."/>
		</trigger>
		<trigger name="Event_Cancel_Reservation" description="Fires when someone cancels their reservation">
		    <var name="instructorEmails" description="Comma separated list of instructor email addresses"/>
		    <var name="instructorNames" description="Comma separated list of instructor names"/>
		    <var name="locationAddress" description="Address of the location where the workshop will be taught"/>
		    <var name="locationName" description="Name of the location where the workshop will be taught."/>
		    <var name="studentEmail" description="Email address of the user who signed up for the workshop."/>
		    <var name="studentName" description="Name of the user who signed up for the workshop."/>
		    <var name="studentUsername" description="Username of user"/>
		    <var name="userId" description="user ID (userID@loginType) of the user who signed up for the workshop."/>
		    <var name="workshopDate" description="Date (mm/dd/yyyy) when the workshop occurs."/>
		    <var name="workshopEndTime" description="End time (hh:mm am/pm) of the workshop."/>
		    <var name="workshopMinimumEnrollment" description="Minimum enrollment for the workshop"/>
		    <var name="workshopName" description="Name of the workshop the user signed up for"/>
		    <var name="workshopStartTime" description="Start time (hh:mm am/pm) the workshop occurs."/>
		</trigger>
		<trigger name="Event_Evaluation_Reminder" description="Triggered (via cron) to remind attendees who have not filled out evaluation forms to do so.">
		    <var name="instructorEmails" description="Comma separated list of instructor email addresses"/>
		    <var name="instructorNames" description="Comma separated list of instructor names"/>
		    <var name="locationAddress" description="Address of the location where the workshop will be taught"/>
		    <var name="locationName" description="Name of the location where the workshop will be taught."/>
		    <var name="studentEmail" description="Email address of the user who signed up for the workshop."/>
		    <var name="studentName" description="Name of the user who signed up for the workshop."/>
		    <var name="studentUsername" description="Username of user"/>
		    <var name="workshopCurrentEnrollment" description="Current enrollment for the workshop"/>
		    <var name="workshopDate" description="Date (mm/dd/yyyy) when the workshop occurs."/>
		    <var name="workshopEndTime" description="End time (hh:mm am/pm) of the workshop."/>
		    <var name="workshopMinimumEnrollment" description="Minimum enrollment for the workshop"/>
		    <var name="workshopName" description="Name of the workshop the user signed up for"/>
		    <var name="workshopStartTime" description="Start time (hh:mm am/pm) the workshop occurs."/>
		</trigger>
		<trigger name="Event_Instructor_Final_Reminder" description="Triggered (via cron) to send final reminder to instructors of a workshop">
		    <var name="instructorEmails" description="Comma separated list of instructor email addresses"/>
		    <var name="instructorNames" description="Comma separated list of instructor names"/>
		    <var name="locationAddress" description="Address of the location where the workshop will be taught"/>
		    <var name="locationName" description="Name of the location where the workshop will be taught."/>
		    <var name="workshopCurrentEnrollment" description="Current enrollment for the workshop"/>
		    <var name="workshopDate" description="Date (mm/dd/yyyy) when the workshop occurs."/>
		    <var name="workshopEndTime" description="End time (hh:mm am/pm) of the workshop."/>
		    <var name="workshopMinimumEnrollment" description="Minimum enrollment for the workshop"/>
		    <var name="workshopName" description="Name of the workshop the user signed up for"/>
		    <var name="workshopStartTime" description="Start time (hh:mm am/pm) the workshop occurs."/>
		</trigger>
		<trigger name="Event_Instructor_First_Reminder" description="Triggered (via cron) to send first reminder to instructors of a workshop">
		    <var name="instructorEmails" description="Comma separated list of instructor email addresses"/>
		    <var name="instructorNames" description="Comma separated list of instructor names"/>
		    <var name="locationAddress" description="Address of the location where the workshop will be taught"/>
		    <var name="locationName" description="Name of the location where the workshop will be taught."/>
		    <var name="workshopCurrentEnrollment" description="Current enrollment for the workshop"/>
		    <var name="workshopDate" description="Date (mm/dd/yyyy) when the workshop occurs."/>
		    <var name="workshopEndTime" description="End time (hh:mm am/pm) of the workshop."/>
		    <var name="workshopMinimumEnrollment" description="Minimum enrollment for the workshop"/>
		    <var name="workshopName" description="Name of the workshop the user signed up for"/>
		    <var name="workshopStartTime" description="Start time (hh:mm am/pm) the workshop occurs."/>
		</trigger>
		<trigger name="Event_LowAttendance" description="Triggered (via cron) when an event has low attendance.">
		    <var name="instructorEmails" description="Comma separated list of instructor email addresses"/>
		    <var name="instructorNames" description="Comma separated list of instructor names"/>
		    <var name="locationAddress" description="Address of the location where the workshop will be taught"/>
		    <var name="locationName" description="Name of the location where the workshop will be taught."/>
		    <var name="workshopCurrentEnrollment" description="Current enrollment for the workshop"/>
		    <var name="workshopDate" description="Date (mm/dd/yyyy) when the workshop occurs."/>
		    <var name="workshopEndTime" description="End time (hh:mm am/pm) of the workshop."/>
		    <var name="workshopMinimumEnrollment" description="Minimum enrollment for the workshop"/>
		    <var name="workshopName" description="Name of the workshop the user signed up for"/>
		    <var name="workshopStartTime" description="Start time (hh:mm am/pm) the workshop occurs."/>
		</trigger>
		<trigger name="Event_Signup" description="Fires when someone signs up for an event">
		    <var name="instructorEmails" description="Comma separated list of instructor email addresses"/>
		    <var name="instructorNames" description="Comma separated list of instructor names"/>
		    <var name="locationAddress" description="Address of the location where the workshop will be taught"/>
		    <var name="locationName" description="Name of the location where the workshop will be taught."/>
		    <var name="studentEmail" description="Email address of the user who signed up for the workshop."/>
		    <var name="studentName" description="Name of the user who signed up for the workshop."/>
		    <var name="studentUsername" description="Username of the user who signed up for the workshop."/>
		    <var name="workshopDate" description="Date (mm/dd/yyyy) when the workshop occurs."/>
		    <var name="workshopEndTime" description="End time (hh:mm am/pm) of the workshop."/>
		    <var name="workshopMinimumEnrollment" description="Minimum enrollment for the workshop"/>
		    <var name="workshopName" description="Name of the workshop the user signed up for"/>
		    <var name="workshopStartTime" description="Start time (hh:mm am/pm) the workshop occurs."/>
		</trigger>
		<trigger name="Event_Signup_Waitlist" description="Fired when a user signs up for a class but are put on the waitlist.">
		    <var name="instructorEmails" description="Comma separated list of instructor email addresses"/>
		    <var name="instructorNames" description="Comma separated list of instructor names"/>
		    <var name="locationAddress" description="Address of the location where the workshop will be taught"/>
		    <var name="locationName" description="Name of the location where the workshop will be taught."/>
		    <var name="studentEmail" description="Email address of the user who signed up for the workshop."/>
		    <var name="studentName" description="Name of the user who signed up for the workshop."/>
		    <var name="studentUsername" description="Username of the user who signed up for the workshop."/>
		    <var name="waitlistPosition" description="Position on the waitlist that the user is in."/>
		    <var name="workshopDate" description="Date (mm/dd/yyyy) when the workshop occurs."/>
		    <var name="workshopEndTime" description="End time (hh:mm am/pm) of the workshop."/>
		    <var name="workshopMiminumEnrollment" description="Minimum enrollment for the workshop"/>
		    <var name="workshopName" description="Name of the workshop the user signed up for"/>
		    <var name="workshopStartTime" description="Start time (hh:mm am/pm) the workshop occurs."/>
		</trigger>
		<trigger name="Event_Waitlist_To_Attending" description="Fired when a user advances from the waitlist to the class attendance">
		    <var name="instructorEmails" description="Comma separated list of instructor email addresses"/>
		    <var name="instructorNames" description="Comma separated list of instructor names"/>
		    <var name="locationAddress" description="Address of the location where the workshop will be taught"/>
		    <var name="locationName" description="Name of the location where the workshop will be taught."/>
		    <var name="studentEmail" description="Email address of the user who signed up for the workshop."/>
		    <var name="studentName" description="Name of the user who signed up for the workshop."/>
		    <var name="studentUsername" description="Username of the user who signed up for the workshop."/>
		    <var name="workshopDate" description="Date (mm/dd/yyyy) when the workshop occurs."/>
		    <var name="workshopEndTime" description="End time (hh:mm am/pm) of the workshop."/>
		    <var name="workshopMinimumEnrollment" description="Minimum enrollment for the workshop"/>
		    <var name="workshopName" description="Name of the workshop the user signed up for"/>
		    <var name="workshopStartTime" description="Start time (hh:mm am/pm) the workshop occurs."/>
		</trigger>
    </triggers>
  </production>
</configData>