<?xml version="1.0" encoding="UTF-8"?>
<configData>
  <production>
    <app>
      <search>
          <!--<workshopIndexPath>/afs/unity/web/i/itdapps5/searchIndex/classmate/new-workshops</workshopIndexPath>-->
          <workshopIndexPath>/tmp</workshopIndexPath>
       </search>
       <profileTypes>
          <faculty>Faculty</faculty>
          <staff>Staff</staff>
          <student>Student</student>
          <guest>Guest</guest>
       </profileTypes>       
    </app>
  </production>
</configData>