div.attendee {
    padding: 3px;
    margin-bottom: 7px;
    height: 32px;
    line-height: 16px;
}

div.taken {
    border: 1px solid #CCC;
    background-color: #f4f4f4;    
}

div.attendee img {
    float: left;
    padding-right: 6px;
}

div.attendee .name {
	font-weight: bold;
}

div.attendee .attendance {
	float: right;
	display: block;
	width: 250px;
	margin: 3px 0px 3px 0px;
	padding: 2px 2px 2px 22px;
}

div.attendee .attendance div {
	float: right;
    overflow: hidden;
    height: 16px;
    cursor: pointer;
}

div.attendee .present {    
	 
    border: 1px solid #00CC00;  
    background: #DFFFDF url(../../../images/tick.png) no-repeat 2px 2px;  
 
}

div.attendee .absent {
    border: 1px solid #CC0000;  
    background: #FFDFDF url(../../../images/cross.png) no-repeat 2px 2px;  
}

div.attendee .on {
	padding: 2px 2px 2px 20px; 
}

div.attendee .off {
    padding: 2px 2px 2px 2px; 
    margin:0px;	
}

div.attendee .off span {
	display: none;
}

div.attendee .signup {
	font-size: 90%;
	color: #999;
}

.update {
	display: block;
	float: left;
    background-color: #ffffcc;
    opacity: 0;
    width: 90px;
    text-align: center;
    padding: 2px;
}